<title>Shared Todo App</title>
<div class="container">
  <div class="row">
    <div class="span5">
      <h1>Shared Todo App</h1>
      <hr>
      <p>All your Todos goes here: </p>
      <%= form_for @new_todo, url: { action: 'add' }, html: {  class: 'form-inline' }  do |f| %>
        <%= f.text_field :todo_item, class: 'input-xlarge', placeholder: 'What do you plan to do?' %>
        <%= f.submit 'Add todo', class: 'btn btn-primary' %>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-error">
          <button type='button' data-dismiss='alert' class="close">&cross;</button>
          <strong><%= flash[:error] %></strong>
        </div>
      <% end %>

      <% if flash[:success] %>
        <div class="alert alert-success">
          <button type='button' data-dismiss='alert' class="close">&cross;</button>
          <strong><%= flash[:success] %></strong>
        </div>
      <% end %>

      <div class="well">
        <%= form_tag '/todos/complete', method: 'post' do %>
          <ul style='list-style-type:none;'>
            <% @todos.each do |todo| %>
              <% if todo.completed %>
                <li style='color:grey;'><%= check_box_tag 'todos_checkbox[]', todo.id, todo.completed %><strike><%= todo.todo_item %></strike></li>
              <% else %>
                <li><%= check_box_tag 'todos_checkbox[]', todo.id, todo.completed%> <%= todo.todo_item %></li>
              <% end %>
            <% end %>
          </ul>
        <%= submit_tag 'Complete Todos', class: 'btn btn-success' %>
        <% end %>
      </div>
      <%= link_to "Delete last todo", delete_path %>
    </div>
  </div>
</div>
